.photo-search {
    
    .select-container {
            display: block;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 20px;

            select {
                margin-bottom: 20px;
            }

            label {
                display: block;
            }
    }

    .map {
            width: 90%;
            margin: 0 auto;
            height: 350px;
            border: 2px solid #3c2963;
            
            .cursor {
                color:red;
                font-weight: bold;
                position: absolute;
                z-index: 1;
                left: -5px;
                top: -5px;
            }
    }

    .photos-container {
        text-align: center;

        .item {
            display: inline-block;
            position: relative;
            margin: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.3);

            &-hover {
                background-color: rgba(0, 0, 0, .3);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0;
                color: #fff;
                transition: all ease-in 222ms;
                opacity: 0;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
            }

            &:hover .item-hover{
                height: 100%;
                opacity: 1;
            }

            img {
                height: 200px;
                border: 2px solid #fff;
                margin-bottom: -4px;
            }
        }
    }
}