.group-nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: #222;
    list-style: none;
    font-family: 'Podkova', serif;
    
    &__list {
        display: inline-block;

        li {
            display: inline-block;
            cursor: pointer;
            padding: 10px 0;
            margin: 0 1px;
            width: 160px;
            font-size: 18px;
            font-weight: bold;
            color: #e5e5e5;
            transition: background ease-in 333ms;
            text-align: center;

            &:hover {
                background-color: #47b475;
            }

            img {
                display: block;
                width: 30px;
                border-radius: 50%;
                margin: 0 auto 5px;
            }
        }
    }
    &__search {
        .field-group {
            height: 100%;
            margin-top: -1px;
        }

        input { 
            color: #222;
            width: 200px;
            height: 100%;
            background-color: #f4f3f3;
        }

        .btn {
            height: 100%;
            font-size: 18px;

            &:hover {
                border: 2px solid #FF612F;
                background-color: #FF612F;
                color: #fff;
            }
        }
    }
}

.posts-contaier {
    padding-top: 10px;
    text-align: center;

    .item {
        display: inline-block;
        margin: 10px;
        padding: 5px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        text-decoration: none;
        position: relative;
        vertical-align: top;  

        &-hover {
            background-color: rgba(0, 0, 0, .3);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            color: #fff;
            transition: all ease-in 222ms;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
        }

        &:hover .item-hover{
            height: 100%;
            opacity: 1;
        }

        .audio-track {
            text-align: center;
            color: #333;
            font-size: 12px;
        }
        
        img {
            max-height: 200px;
        }
        
        .info-container {
            display: block;
            color: #000;
            font-family: 'Podkova', serif;
            font-weight: bold;
            text-align: center;
            .post-text {
                padding: 5px;
            }
            
            p {
                padding: 5px 10px;
                display: inline-block;
                i {
                    margin-left: 5px;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    vertical-align: text-top;
                    background-size: 100%;
                    &.icon-repo {
                        background-image: url(../../assets/images/icon-repo.png);
                    }
                    &.icon-like {
                        background-image: url(../../assets/images/icon-like.png);
                        height: 17px;
                    }
                }
            }
        }
    }

}

.error-msg {
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .tool-bar li {
        padding: 5px;
        font-size: 16px;
        text-align: center;

        img {
            display: block;
            margin: 0 auto 10px;
        }
    }
    
    .top-posts form .field-group label {
        font-size: 18px;
    }
}