.scroll-up {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 18px 15px;
    border-radius: 50%;
    color: #fff;
}

.spinner {
    background-image: url(../images/spinner.gif);
    width: 150px;
    height: 105px;
    background-size: 100%;
    margin: 50px auto 0;
}