.scroll-up {
    z-index: 5;
}
.sk-folding-cube {
  margin: 120px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
.field-group {
    vertical-align: middle;
    display: inline-block;
    label {
        font-size: 28px;
        padding-right: 10px;
    }
    input {
        font-size: 18px;
        padding: 10px;
        font-family: 'Orbitron', sans-serif;
        line-height: 1;
        &:focus {
            outline: none;
        }
    }
}
.btn {
    display: inline-block;
    padding: 17.5px 15px;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #47b475;
    color: #fff;
    text-decoration: none;
    transition: all ease-in 222ms;
    vertical-align: middle;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    border: 0;

    &:hover {
        background-color: #3c2963;
    }
    &:focus {
        outline: none;
    }
}
.caption {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}
body {
    font-family: 'Orbitron', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #D3D4D9;
    position: relative;
    overflow-x: hidden;
    .nav-container {
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        background-color: rgba(38, 35, 56, 0.2);

        &:after {
            content: '';
            clear: both;
            display: table;
        }

        .logo{
            width: 150px;
            vertical-align: top;
            display: inline-block;
            margin: 10px;
            cursor: pointer;
        }
    }
    .nav {
        text-align: center;
        padding: 0;
        float: right;

        li {
            display: inline-block;

            a {
                display: inline-block;
                margin: 15px 25px;
                text-decoration: none;
                font-size: 20px;
                cursor: pointer;
                color: #fff;
                -webkit-transition: all 333ms ease;
                -moz-transition: all 333ms ease;
                -ms-transition: all 333ms ease;
                -o-transition: all 333ms ease;
                transition: all 333ms ease;


                &.active,
                &:hover {
                    color: #3c2963;
                    border-bottom: 1px solid #3c2963;
                }
            }
        }
    }
    .content {
        min-width: 200px;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 1%;

        .info {
            color: #D3D4D9;
            font-size: 22px;
            display: block;
            margin-top: 150px;
            padding: 0 20px;
            background-color: rgba(38, 35, 56, 0.2);
            
            p {
                display: inline-block;
                color: #fff;
                padding: 20px;
                background-color: rgba(255, 255, 255, .3);
                vertical-align: middle;
                line-height: 1;
            }
            .advice {
                display: block;
                font-size: 24px;

            }
            .permission {
                display: block;
                text-align: right;
            }
            .get-token {
                display: block;
                text-align: left;
            }
        }
        #video {
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            transform: translateX(-50%) translateY(-50%);
            background-size: cover;
            background-image: url('images/video-bg.png');
        }

    }
    .tool-bar {
        margin: 0;
        padding: 20px 0;
        display: flex;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        font-family: 'Podkova', serif;

        li {
            cursor: pointer;
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
            background-color: #3c2963;
            color: #fff;
            border-radius: 15px;
            transition: background ease-in 333ms;

            &:hover {
                background-color: #47b475;
            }

            img {
                vertical-align: middle;
                width: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
    .top-posts {
        form {
            text-align: center;
            padding-top: 20px;

            .field-group {
                vertical-align: middle;
                display: inline-block;

                label {
                    font-size: 28px;
                    padding-right: 10px;
                }

                input {
                    font-size: 18px;
                    padding: 10px;
                    font-family: 'Orbitron', sans-serif;
                    line-height: 1;

                    &:focus {
                        outline: none;
                    }
                }
            }
            .btn {
                padding: 9.5px 40px;
            }
        }
    }
    .posts-contaier {
        padding-top: 10px;
        text-align: center;

        .item {
            display: inline-block;
            margin: 10px;
            padding: 5px;
            background-color: rgba(33, 165, 209, 0.2);
            text-decoration: none;
            border: 3px solid #3c2963;
            position: relative;            

            &-hover {
                background-color: rgba(0, 0, 0, .3);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0;
                color: #fff;
                transition: all ease-in 222ms;
                opacity: 0;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
            }
            &:hover .item-hover{
                height: 100%;
                opacity: 1;
            }

            .audio-track {
                text-align: left;
                color: #333;
            }
            
            img {
                margin-bottom: -4px;
                height: 200px;
            }
            .info-container {
                display: block;
                color: #fff;
                font-family: 'Podkova', serif;
                font-weight: bold;
                
                p {
                    padding: 0 10px;
                    display: inline-block;

                    i {
                        margin-left: 5px;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        vertical-align: text-top;
                        background-size: 100%;

                        &.icon-repo {
                            background-image: url('images/icon-repo.png');
                        }
                        &.icon-like {
                            background-image: url('images/icon-like.png');
                            height: 17px;
                        }
                    }
                }
            }
        }
    }
    .photo-search {
        .select-container {
            display: block;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 20px;

            select {
                margin-bottom: 20px;
            }

            label {
                display: block;
            }
        }
        .map {
            width: 90%;
            margin: 0 auto;
            height: 350px;
            border: 2px solid #3c2963;
            
            .cursor {
                color:red;
                font-weight: bold;
                position: absolute;
                z-index: 1;
                left: -5px;
                top: -5px;
            }
        }
        .photos-container {
            text-align: center;

            .item {
                display: inline-block;
                position: relative;
                margin: 5px;

                &-hover {
                    background-color: rgba(0, 0, 0, .3);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    color: #fff;
                    transition: all ease-in 222ms;
                    opacity: 0;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-direction: column;
                }
                &:hover .item-hover{
                    height: 100%;
                    opacity: 1;
                }

                img {
                    height: 200px;
                    border: 2px solid #fff;
                    margin-bottom: -4px;
                }
            }
        }
    }
    .mutual-container {
        form {
            text-align: center;
            padding-top: 30px;

            .btn-container {
                margin-top: 20px;
            }
        }
        .form-mutual {
            .field-group {
                margin: 0 20px;
            }
        }

        .field-group {
            
            label {
                vertical-align: middle;
            }
            input {
                padding: 17.5px 10px;
            }
        }

        .friends-container {
            text-align: center;
            .item {
                display: inline-block;
                margin: 20px;

                img {
                    vertical-align: middle;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .name {
                    font-family: 'Podkova', serif;
                    color: #333;
                    text-align: center;
                }
            }
        }
    }
}