*{
    
}
// 4B88A2
// 252627
// #BB0A21

.btn {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    background-color: #3c2963;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    transition: all ease-in 333ms;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: #3c2963;
        border: 1px solid #3c2963;
    }
}
.caption {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}
body {
    font-family: 'Orbitron', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #D3D4D9;
    position: relative;
    overflow-x: hidden;
    .nav-container {
        &:after {
            content: '';
            clear: both;
            display: table;
        }

        .logo{
            width: 150px;
            vertical-align: top;
            display: inline-block;
            margin: 10px;
            cursor: pointer;
        }
    }
    .nav {
        text-align: center;
        padding: 0;
        float: right;

        li {
            display: inline-block;

            a {
                display: inline-block;
                margin: 15px 25px;
                text-decoration: none;
                font-size: 28px;
                cursor: pointer;
                color: #fff;
                -webkit-transition: all 333ms ease;
                -moz-transition: all 333ms ease;
                -ms-transition: all 333ms ease;
                -o-transition: all 333ms ease;
                transition: all 333ms ease;


                &.active,
                &:hover {
                    color: darkslategray;
                    border-bottom: 1px solid darkslategray;
                }
            }
        }
    }
    .content {
        min-width: 200px;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 1%;

        .info {
            color: #D3D4D9;
            font-size: 24px;
            display: block;
            padding-top: 150px;
            
            .advice {
                display: block;
                text-align: left;
                font-size: 28px;

                p {
                    background-color: #4CAF50;
                    display: inline-block;
                    border-radius: 30px;
                    padding: 20px;
                }
            }
            .permission {
                display: block;
                text-align: right;

                .btn {
                    margin-left: 15px;
                }                

                p {
                    padding: 20px;
                    border-radius: 30px;
                    display: inline-block;
                    background-color: #4B88A2;
                }
            }
            .get-token {
                display: block;
                text-align: left;
                
                .save-status {
                    background-color: #D1B358;
                    padding: 20px;
                    border-radius: 30px;
                    display: inline-block;

                    .btn {
                        margin-left: 15px;
                    }
                }
            }
        }

        .video {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
    .tool-bar {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        font-family: 'Podkova', serif;

        li {
            cursor: pointer;
            padding: 10px;
            font-size: 28px;
            font-weight: bold;
            background-color: #3c2963;
            color: #fff;
            border-radius: 15px;
            transition: background ease-in 333ms;

            &:hover {
                background-color: #4CAF50;
            }

            img {
                vertical-align: middle;
                width: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
    .top-posts {
        form {
            text-align: center;
            padding-top: 20px;

            .field-group {
                vertical-align: middle;
                display: inline-block;

                label {
                    font-size: 28px;
                    vertical-align: middle;
                    padding-right: 10px;
                }

                input {
                    font-size: 18px;
                    padding: 10px;

                    &:focus {
                        outline: none;
                    }
                }
            }
            .btn {
                padding: 11px 40px;
            }
        }
    }
    .posts-contaier {
        margin-top: 10px;
        background-color: #fff;
        text-align: center;

        .item {
            display: inline-block;
            margin: 10px;
            background-color: skyblue;
            text-decoration: none;
            border: 3px solid #3c2963;
            
            img {
                height: 300px;
                margin: 10px;
            }
            .info-container {
                display: block;
                color: #fff;
                font-family: 'Podkova', serif;
                font-weight: bold;
                
                p {
                    padding: 0 10px;
                    display: inline-block;

                    i {
                        margin-left: 5px;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        vertical-align: text-top;
                        background-size: 100%;

                        &.icon-repo {
                            background-image: url('images/icon-repo.png');
                        }
                        &.icon-like {
                            background-image: url('images/icon-like.png');
                            height: 17px;
                        }
                    }
                }
            }
        }
    }
    .photo-search {
        .select-container {
            display: block;
            margin: 0 auto;
            text-align: center;
            padding: 20px 0;
        }
        .map {
            width: 100%;
            height: 350px;
            border: 2px solid #3c2963;
            
            .cursor {
                position: absolute;
                opacity: 0;
                width: 15px;
                height: 15px;
                background-color: red;
                z-index: 1;
                left: 0;
                top: 0;
            }
        }
    }
}