*{
    font-family: 'Lobster', cursive;
}
// 4B88A2
// 252627
body {
    padding: 0;
    margin: 0;
    background-color: #D3D4D9;

    .nav {
        margin: 0;
        text-align: center;
        background-color: #333;
        li {
            display: inline-block;

            a {
                padding: 15px 20px;
                display: inline-block;
                text-decoration: none;
                font-size: 28px;
                cursor: pointer;
                color:#D3D4D9;
                -webkit-transition: all 333ms ease;
                -moz-transition: all 333ms ease;
                -ms-transition: all 333ms ease;
                -o-transition: all 333ms ease;
                transition: all 333ms ease;

                &:hover {
                    background-color: #4CAF50;
                }

                &.active{
                    background-color: #BB0A21;
                }
            }
        }
    }
    .content {
        min-width: 200px;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 1%;
    }
    .tool-bar {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 20%;

        li {
            display: block;

            button {
                cursor: pointer;
                width: 100%;
                padding: 5px 0;
                border: 0;
                font-size: 24px;
                
                &:focus {
                    outline: none;
                }

            }
        }
    }
    .posts-contaier {
        margin-top: 10px;
        background-color: #fff;
        text-align: center;

        .item {
            display: inline-block;
            margin: 10px;
            border-radius: 15px;
            border: 3px solid black;
            
            img {
                height: 200px;
                border-radius: 12px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
             .info-container {
                display: block;
                p {
                    padding: 0 10px;
                    display: inline-block;

                    i {
                        margin-left: 5px;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        vertical-align: text-top;
                        background-size: 100%;

                        &.icon-repo {
                            background-image: url('images/icon-repo.png');
                        }
                        &.icon-like {
                            background-image: url('images/icon-like.png');
                            height: 17px;
                        }
                    }
                }
            }
        }
    }
}